<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobby.challenge.fobackend.mapper.ParticipationMapper">
	<!-- 챌린지에 참여 -->
	<insert id="insertParticipation"
        useGeneratedKeys="true"
        keyProperty="participationId">
		INSERT INTO PARTICIPATION (USER_ID
								,  CHALLENGE_ID
								,  STATUS
								,  ROLE)
		VALUES (#{userId}
			 ,  #{challengeId}
			 ,  #{status}
			 ,  #{role})
	</insert>
	
	<resultMap id="RequestMap"
	           type="com.hobby.challenge.fobackend.dto.ParticipationResponseDTO">
	  <id column="participationId" property="participationId"/>
	  <result column="userId" property="userId"/>
	  <result column="nickname" property="nickname"/>
	  <result column="challengeId" property="challengeId"/>
	  <result column="status" property="status"/>
	  <result column="requestDate" property="requestDate"/>
	  <result column="participatedDate" property="participatedDate"/>
	  <result column="role" property="role"/>
	</resultMap>
	
	<!-- 특정 챌린지의 모든 요청 조회 챌린지 생성자(OWNER)용 -->
	<select id="findRequestsByChallenge"
	        resultMap="RequestMap">
	  SELECT P.PARTICIPATION_ID AS participationId
	       , P.USER_ID AS userId
	       , U.NICKNAME AS nickname
	       , P.CHALLENGE_ID AS challengeId
	       , P.STATUS AS status
	       , P.REQUEST_DATE AS requestDate
	       , P.PARTICIPATED_DATE AS participatedDate
	       , P.ROLE AS role
	    FROM PARTICIPATION P
	    JOIN USER U
	      ON P.USER_ID = U.USER_ID
	   WHERE P.CHALLENGE_ID = #{challengeId}
	     AND P.STATUS = 'REQUESTED'
	</select>
	

	
	<!-- 특정 사용자의 챌린지 참여 내역 조회 -->
	<select id="findByUser" 
			resultType="com.hobby.challenge.fobackend.dto.ParticipationResponseDTO">
		
		SELECT PARTICIPATION_ID
			 , USER_ID
			 , CHALLENGE_ID
			 , STATUS
			 , REQUEST_DATE
			 , PARTICIPATED_DATE
			 , ROLE
	      FROM PARTICIPATION
	     WHERE USER_ID = #{userId}
	</select>
	
	<!-- 특정 사용자의 특정 상태 참여 내역 조회 -->
	<select id="findByUserAndStatus" 
	        resultType="com.hobby.challenge.fobackend.dto.ParticipationResponseDTO">
	    SELECT PARTICIPATION_ID AS participationId
	         , USER_ID AS userId
	         , CHALLENGE_ID AS challengeId
	         , STATUS AS status
	         , REQUEST_DATE AS requestDate
	         , PARTICIPATED_DATE AS participatedDate
	         , ROLE AS role
	      FROM PARTICIPATION
	     WHERE USER_ID = #{userId}
	       AND STATUS = #{status}
	  ORDER BY REQUEST_DATE DESC
	</select>
	

	
	<select id="selectById" 
			resultType="com.hobby.challenge.fobackend.dto.ParticipationResponseDTO">
	    SELECT PARTICIPATION_ID
		     , USER_ID
		     , CHALLENGE_ID
		     , STATUS
		     , REQUEST_DATE
		     , PARTICIPATED_DATE
		     , ROLE
	      FROM PARTICIPATION
	     WHERE PARTICIPATION_ID = #{participationId}
	</select>
	

	
	<resultMap id="ApprovedMap" type="com.hobby.challenge.fobackend.dto.ParticipantDTO">
		<id column="participationId" property="participationId"/>
	    <id column="userId" property="userId"/>
	    <result column="nickname" property="nickname"/>
	    <result column="role" property="role"/> 
	    <result column="imageUrl" property="imageUrl"/>
	</resultMap>
	
	<!-- 챌린지 참여 승인된 참여자 목록 -->
	<select id="findApprovedByChallenge" 
	 		resultMap="ApprovedMap">
	    SELECT P.PARTICIPATION_ID AS participationId
	    	 , U.USER_ID AS userId
	         , U.NICKNAME  AS nickname
	         , U.IMAGE_URL AS imageUrl
	         , P.ROLE AS role
	      FROM PARTICIPATION P
	      JOIN CHALLENGE C
	        ON P.CHALLENGE_ID = C.CHALLENGE_ID
	      JOIN USER U
	        ON P.USER_ID = U.USER_ID
	     WHERE P.CHALLENGE_ID = #{challengeId}
	       AND P.STATUS = 'APPROVED'
	       AND (C.IS_DELETED = 0 OR C.IS_DELETED IS NULL) <!-- 삭제되지 않은 챌린지만 -->
	</select>
	
	<!-- 승인된 참여자 조회 -->
	<select id="selectByUserAndChallenge"
       	    parameterType="map"
      	    resultType="com.hobby.challenge.fobackend.dto.ParticipationResponseDTO">
	    SELECT PARTICIPATION_ID
	         , USER_ID
	         , CHALLENGE_ID
	         , STATUS
	         , REQUEST_DATE
	         , PARTICIPATED_DATE
	         , ROLE
	  	  FROM PARTICIPATION
	     WHERE USER_ID      = #{userId}
	       AND CHALLENGE_ID = #{challengeId}
	       AND STATUS       = 'APPROVED'
	</select>
	
	<!-- 참여 요청을 한 번만 하게 하기위해 요청/승인상태인 참여 조회-->
	<select id="selectByUserAndChallengeAnyStatus" 
	        parameterType="map" 
	        resultType="com.hobby.challenge.fobackend.dto.ParticipationResponseDTO">
	    SELECT PARTICIPATION_ID
		     , USER_ID
		     , CHALLENGE_ID
		     , STATUS
		     , REQUEST_DATE
		     , PARTICIPATED_DATE
		     , ROLE
		     , MODIFIED_DATE
	      FROM PARTICIPATION
	     WHERE USER_ID = #{userId}
	       AND CHALLENGE_ID = #{challengeId}
	       AND STATUS IN ('REQUESTED','APPROVED')
	</select>
	
	<!-- 유저가 REQUESTED 또는 APPROVED 상태인 참여 건수 조회 -->
	<select id="countActiveParticipations" resultType="int">
	    SELECT COUNT(*)
	      FROM PARTICIPATION
	     WHERE USER_ID = #{userId}
	       AND STATUS IN ('REQUESTED','APPROVED')
    </select>


	<!-- 참여 상태 업데이트 (승인/거절) -->
	<update id="updateStatus">
		UPDATE PARTICIPATION
		   SET STATUS = #{status}
		   	 , PARTICIPATED_DATE = CASE WHEN #{status} = 'APPROVED'
		   	 					   THEN CURRENT_TIMESTAMP
		   	 					   ELSE PARTICIPATED_DATE END
		   	 					 , MODIFIED_DATE = CURRENT_TIMESTAMP
		 WHERE PARTICIPATION_ID = #{participationId}
	</update>
	
	<!-- 요청 취소 or 탈퇴(행 삭제) -->
	<delete id="deleteByIdAndUser" 
			parameterType="map">
	    DELETE FROM PARTICIPATION
	     WHERE PARTICIPATION_ID = #{participationId}
	       AND USER_ID = #{userId}
	       AND STATUS IN ('REQUESTED','APPROVED')
	</delete>
</mapper>
         