<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hobby.challenge.fobackend.mapper.UserMapper">
    
    <!-- userId로 유저 한 명 조회 (마이페이지용) -->
	<select id="findById" resultType="User">
	    SELECT USER_ID
	    	 , LOGIN_ID
	         , USERNAME
	         , NICKNAME
	         , EMAIL
	         , PASSWORD
	         , IMAGE_URL
	         , ROLE
	         , LEVEL
	         , POINTS
	         , CREATED_DATE
	         , MODIFIED_DATE
	         , STATUS
	      FROM USER
	     WHERE USER_ID = #{userId}
	</select>

    <!-- 닉네임 중복 여부 체크 (닉네임 수정 시) -->
    <select id="existsByNickname" resultType="boolean">
        SELECT COUNT(*) > 0 
          FROM USER 
         WHERE NICKNAME = #{nickname}
        <if test="excludeUserId != null">
           AND USER_ID != #{excludeUserId}
        </if>
    </select>
    
    <!-- 닉네임 변경 -->
    <update id="updateNickname">
        UPDATE USER 
           SET NICKNAME = #{nickname}
             , MODIFIED_DATE = CURRENT_TIMESTAMP
         WHERE USER_ID = #{userId}
    </update>
    
    <!-- 비밀번호 변경 -->
    <update id="updatePassword">
        UPDATE USER 
           SET PASSWORD = #{password}
             , MODIFIED_DATE = CURRENT_TIMESTAMP
         WHERE USER_ID = #{userId}
    </update>
    
    <!-- 포인트 업데이트 -->
    <update id="updatePointsAndLevel">
    UPDATE USER 
       SET POINTS = #{points}, 
           LEVEL = #{level},
           MODIFIED_DATE = NOW()
     WHERE USER_ID = #{userId}
	</update>
    
    <!-- 계정 삭제 -->
    <delete id="deleteUser">
        DELETE 
          FROM USER 
         WHERE USER_ID = #{userId}
    </delete>
    
</mapper>